* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 700;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin-block: 0.5em;
  justify-content: space-between;
  margin-inline: 2.5em;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-section {
  display: none;
  min-width: 30%;
}

.contact {
  display: none;
}

.navBar {
  display: flex;
  margin-block: 1em;
  border: 3px solid black;
  min-width: 95%;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  height: 2em;
}

.nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-list li {
  max-width: 5em;
}

footer span,
.navBar span,
.navbar li {
  margin-inline: 3em;
}

.time {
  align-self: flex-end;
  justify-self: end;
  position: relative;
  right: 2.2em;
  margin-top: -1em;
}

.div-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 50%;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.list {
  border: 3px solid black;
  width: 100%;
  min-height: 3em;
  height: 100%;
  margin-bottom: 2em;
}

.input {
  margin-block: 0.5em;
  padding: 0.5em;
  border: 2px solid black;
}

.list-btn {
  justify-content: center;
  align-self: center;
  border: 4px solid black;
  padding: 0.3em;
  padding-inline: 1em;
}

button {
  align-self: flex-end;
}

footer {
  display: flex;
  margin-block: 1em;
  border: 3px solid black;
  min-width: 95%;
  align-items: center;
  justify-content: space-between;
  align-self: center;
  height: 2em;
}
