* {
  padding: 0;
  margin: 0;
}
body {
  margin-top: 10em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

li {
  display: flex;
  margin-block: 0.5em;
  justify-content: space-between;
  margin-inline: 2.5em;
}

form {
  display: flex;
  flex-direction: column;
}

.div-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.list {
  border: 3px solid black;
  width: 100%;
  min-height: 3em;
  height: 100%;
  margin-bottom: 2em;
}

.input {
  margin-block: 0.5em;
  padding: 0.5em;
  border: 2px solid black;
}

.list-btn {
  justify-content: center;
}

button {
  align-self: flex-end;
}
